.contact_header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact_image {
  text-align: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  background-color: #ececed;
  img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.contact_details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.list {
  display: flex;
  gap: 10px;
}
.listitem {
  list-style-type: none;
  svg {
    font-size: 2rem;
    fill: #4b33ad;
  }
  &:hover {
    svg {
      fill: rgb(99, 74, 201);
    }
  }
}
