@use "../common/variables" as *;

.featured_container {
  min-height: 50vh;
  background-image: linear-gradient(#f3f3f357, #f4f4f4e3);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured_list {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @media (min-width: $md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.featured_listitem {
  width: min(100%, 25rem);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 30rem;
  border: 2px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  &:hover {
    border-top: 2px solid $highlightercolor;
    transform: scale3d(1.01, 1.01, 1.01);
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.2);
    transition: {
      property: border-top, transform, box-shadow;
      duration: 0.3s;
      timer-function: ease-in;
    }
  }
}
.featured_title {
  text-align: left;
  border-bottom: 1px solid #e7e7e7;
  text-transform: uppercase;
  font-weight: 800;
}
.featured_desc {
  flex: 1;
}
.featured_image_container {
  flex: 1;
  width: 100%;
  margin: 1rem 0 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 7px;
}
.featured_image {
  max-width: 80%;
  border-radius: 5px;
  aspect-ratio: 4 / 2;
  box-shadow: 0 0 6px rgb(0 0 0 / 0.2);
}
