@use "../common/variables" as *;
@use "../common/patterns";

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 45rem;
  background-image: linear-gradient(#f3f3f357, #f4f4f4e3);
}
.pattern_one {
  background-color: #f4f4f4;
}
.name_wrapper {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75rem;
  gap: 20px;
}
.name_text {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  position: relative;
  z-index: 3;
  letter-spacing: 0.08rem;
}

.value_para {
  width: 80%;
  max-width: 80rem;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: $secondarycolor;
  position: relative;
  z-index: 3;
  text-align: center;
}

@media screen and (min-width: $md) {
  .name_wrapper {
    margin: 0 auto;
  }
  .name_text {
    font-size: 4rem;
  }

  .value_para {
    font-size: 2rem;
  }
}
@media screen and (min-width: $lg) {
  .inner {
    margin: 0 auto;
  }

  .name_text {
    font-size: 5rem;
  }

  .value_para {
    font-size: 2.2rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    position: relative;
  }
}
