@use "../common/variables" as *;
@use "../common/patterns";

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 45rem;
  overflow: hidden;
  background-color: #f3f3f3;
  background-image: linear-gradient(180deg, transparent 80%, #ffffff50 50%),
    linear-gradient(45deg, transparent 50%, #ffffff50 70%);
  background-size: 60px 60px;
  background-position: center;
  background-attachment: fixed;
}
.name_wrapper {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: min(80%, 70rem);
  gap: 20px;
}
.name_text {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  position: relative;
  z-index: 3;
  letter-spacing: 0.08rem;
  text-align: center;
  span {
    text-transform: capitalize;
    border-bottom: 4px solid $highlightercolor;
  }
}

.value_para {
  width: 80%;
  max-width: 80rem;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: $secondarycolor;
  position: relative;
  z-index: 3;
  text-align: center;
}

@media screen and (min-width: $md) {
  .name_wrapper {
    margin: 0 auto;
  }
  .name_text {
    font-size: 4rem;
  }

  .value_para {
    font-size: 2rem;
  }
}
@media screen and (min-width: $lg) {
  .inner {
    margin: 0 auto;
  }

  .name_text {
    font-size: 5rem;
  }

  .value_para {
    font-size: 2.2rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    position: relative;
  }
}
