@use "../common/variables" as *;

.text {
  font-size: 1.3rem;
  width: 100%;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 1rem 0;
  padding: 0 1rem;
}
.para {
  width: 100%;
  @media (min-width: $md) {
    width: 80%;
  }
}
