@use "variables" as *;

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 2rem;
  z-index: 101;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  @media (min-width: $lg) {
    padding: 0 10%;
  }
}
.logo {
  padding: 1rem 1rem 1rem 0;
  width: 5rem;
  display: flex;
}
.logo_image {
  max-width: 60%;
  @media (min-width: $lg) {
    max-width: 75%;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  height: 100vh;
  margin: 0;
  padding: 10vh 0 0;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  translate: 0 -100%;
  position: absolute;
  @media (min-width: $lg) {
    visibility: visible;
    translate: 0;
    justify-content: space-evenly;
    padding: 1rem;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    box-shadow: none;
    height: auto;
    max-width: 45%;
  }
}
.navbar_show {
  visibility: visible;
  translate: 0 0;
  transition: visibility 0.2s ease-in, translate 0.2s ease-in;
}
.navbar_hide {
  visibility: hidden;
  translate: 0 -100%;
}
.menuitem {
  color: $secondarycolor;
  position: relative;
  display: block;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5rem 0;
  margin: 1.5rem 0.7rem;
  text-decoration: none;
  z-index: 9;
  @media (min-width: $lg) {
    font-size: 1.3rem;
    margin: 0 1rem;
  }
  span {
    position: relative;
    display: block;
    z-index: 9;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 30%;
    width: 0;
    background-color: $highlightercolor;
    bottom: 20%;
    left: 0;
    z-index: 0;
    transition: width 300ms cubic-bezier(0.0075, 0.00082, 0.00098, 0.8);
    transform-origin: left;
    z-index: 1;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.active {
  &::before {
    width: 100%;
  }
}
.menu_small {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0;
  cursor: pointer;
  margin: 0 0 0 auto;
  position: relative;
  gap: 10px;
  padding: 1rem 0;
}
.lines {
  display: block;
  background-color: $accentcolor;
  height: 3.5px;
  border-radius: 3px;
  width: 2.5rem;
  transition: {
    property: translate, rotate;
    duration: 0.3s;
    timing-function: cubic-bezier(0.075, 0.82, 0.865, 1);
  }

  &:first-child {
    translate: 0;
  }

  &:last-child {
    translate: 0;
  }
}
.lines_clicked {
  &:first-child {
    translate: 0px 7px 0px;
    rotate: -45deg;
  }

  &:last-child {
    translate: 0px -7px 0px;
    rotate: 45deg;
  }
}

@media screen and (min-width: $lg) {
  .header {
    top: 0;
    bottom: auto;
  }
  .navbar {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .menu_small {
    display: none;
  }
}
