@use "../common/variables" as *;

.button_wrapper {
  display: flex;
  gap: 5px;
  margin: 1rem 0 0;
  width: 100%;
}
.source,
.live {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #171618;
  text-align: center;
  font-weight: 600;
  padding: 0.7rem;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  &:hover {
    box-shadow: 0 4px 8px rgba(0 0 0 / 0.2);
    transition: box-shadow 0.1s ease-in;
  }
  &:visited {
    color: #171618;
  }
}
.source {
  background-color: #24292f;
  flex: 1;
  svg {
    fill: #f8f8f8;
    font-size: 1.3rem;
  }
}
.live {
  border: 1.5px solid #171618;
  flex: 2;
}
