@use "variables" as *;

.text {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  font-size: 2rem;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    background-color: $accentcolor;
    width: 20px;
    left: 0;
    bottom: 0;
    height: 6px;
    z-index: 2;
    border-radius: 10px;
  }
  @media (min-width: $lg) {
    margin: 3rem 0;
    font-size: 3rem;
    &::after {
      width: 30px;
    }
  }
}
