.brand{
    height: auto;
    width: 100%;
}
.brand__inner{
    display: flex;
    position: relative;
}
.brand__wrap{

    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primarybg;
    border-radius: 50%;
    padding: 1rem;
    z-index: 99;
}
.brand__link{
     
     color: #fff;
     text-decoration: none;
     
     &:visited{
         color: #fff;
     }
}