@use "variables" as *;
@use "patterns";

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  position: relative;
  max-width: 80rem;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  position: relative;
  z-index: 10;
}
.left {
  flex: 1;
  font-size: 1.3rem;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.para {
  width: 100%;
  @media (min-width: $md) {
    width: 80%;
  }
}
.right {
  flex: 1;
  width: 100%;
  display: flex;
}
.listitem {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem 0;
  span {
    margin: 0 0 0 1rem;
  }
}

.intro_section {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 0.2);
}

/* Core skills */

.skill_section,
.intro_section {
  width: 80%;
  position: relative;
  margin: 0 auto;
  z-index: 10;
  padding: 1rem 2rem;
  @media (min-width) {
    width: 100%;
  }
}

.skill_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;
}
.intro_subheader {
  text-transform: uppercase;
  font-weight: 800;
  margin: 2rem 0;
}

.skill_set {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  width: 100%;
  margin: 1rem 0 0 0;
}

.core_skill,
.other_skill {
  height: 20px;
  padding: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #d6d6d6;
  border-radius: 5px;
  font-weight: 700;
}
.core_skill {
  background-color: #fff;
}
.other_skill {
  background-color: #f3f3f3;
  border: none;
}

@media screen and (min-width: $md) {
  .content {
    flex-direction: row;
    gap: 20px;
  }
}
