@use "variables" as *;
@use "patterns";

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  position: relative;
  height: 100vh;
  max-width: 1200px;
  overflow: hidden;
}

.name_wrapper {
  width: 80%;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name_text {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  color: $primarycolor;
  position: relative;
  z-index: 3;
  letter-spacing: 0.08rem;
}

.value_para {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: $secondarycolor;
  position: relative;
  z-index: 3;
  text-align: center;
}

@media screen and (min-width: $md) {
  .name_wrapper {
    margin: 0 auto;
  }
  .name_text {
    font-size: 4rem;
  }

  .value_para {
    font-size: 2rem;
  }
}
@media screen and (min-width: $lg) {
  .inner {
    margin: 0 auto;
  }
  .name {
    padding: 0 2rem;
  }
  .name_text {
    font-size: 5rem;
  }

  .value_para {
    font-size: 2.2rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    position: relative;
  }
}
