.menuwrapper{
  position: fixed;
  height: 10vh;
  margin: 0 2rem 0 0;
  right: 0;
}
.menuwrapper__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.menuitem{
  text-transform: uppercase;
  color: $primarycolor;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition-property: font-size;
  transition-duration: 0.2s;
  &:hover{
    font-size: 1.8rem;
    text-decoration: underline;
    color: $accentcolor;
  }
}


@media screen and (max-width: $lg){

  .menuwrapper{
    margin: 0 1.5rem 0 0;
  }
  .menuwrapper__inner{
    margin: 0;

  }
  .menuitem{
    margin: 0 0.5rem;
    font-size: 1.2rem;

    &:hover{
      font-size: 1.5rem;
    }
  }
}