@import "variables";

.out_circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #000000;
  border-left: 4px solid;
  border-top: none;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}
.inner_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000000;
  border-right: 4px solid;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  span {
    font-size: 1.5rem;
  }
}
