.skill_wrapper {
  margin: 2rem 0 0;
  width: 100%;
}

.skill_card_left {
  width: 100%;
  height: 50vh;
  max-height: 485px;
  display: flex;
  margin: 0;
  flex-direction: column;
}
.skill_card_right {
  width: 100%;
  height: 50vh;
  max-height: 485px;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.skill_title {
  width: 100%;
  height: 40%;
}
.skill_title_text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.skill_desc {
  width: 100%;
  height: 60%;
}

@media screen and (min-width: $xl) {
  .skill_wrapper {
    margin: 2rem 0 0;
    width: 100%;
  }

  .skill_card_left {
    width: 100%;
    flex-direction: row;
  }
  .skill_card_right {
    width: 100%;
    flex-direction: row-reverse;
  }
  .skill_title {
    width: 100%;
    height: 100%;
  }
  .skill_title_text {
    font-size: 5rem;
  }
  .skill_desc {
    width: 100%;
    height: 100%;
  }
  .skill_desc_text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}
