.cta_wrapper {
  position: relative;
  display: flex;
  margin: 0.5rem 0 0 3rem;
}
.cta {
  display: flex;
  color: #ffffff;
  font-size: 1rem;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.000165, 0.0001, 0.7, 0.98);
  margin: 0 0.5rem 0 0;
  background-color: #000000;
  border: 2px solid transparent;
  padding: 0 0.5rem;

  &:visited {
    color: #ffffff;
  }
  &:hover {
    color: #878787;
    border-bottom: 2px solid #878787;
    background-color: transparent;
  }
}
@media screen and (min-width: $md) {
  .cta {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: $xl) {
  .cta_wrapper {
    margin: 0.5rem 0 0 5rem;
  }
  .cta {
    font-size: 1.5rem;
  }
}
