@import "variables";

.text {
  margin: 2rem auto;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  font-size: 2rem;
  color: #000000;
  &:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 3px;
    top: 50%;
    left: -30%;
    background-color: #4a00d3;
  }
  &:after {
    position: absolute;
    content: "";
    width: 30%;
    height: 3px;
    top: 50%;
    right: -30%;
    background-color: #4a00d3;
  }
}

@media (min-width: $lg) {
  .text {
    margin: 3rem 0;
    font-size: 3rem;
  }
}
