@import "variables";

.text {
  margin: 2rem auto;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  font-size: 2rem;
}
.text_color_dark {
  color: #000000;
}
.text_color_lite {
  color: #ffffff;
}

@media (min-width: $lg) {
  .text {
    margin: 3rem 0;
    font-size: 3rem;
  }
}
