$primarycolor: #122d30;
$secondarycolor: #1f43ff;
$secondarycolor1: #565b74;
$primarybg: #ffffff;
$secondarybg: #cccccc;
$accentcolor: #88dae2;
$accentcolor3: #122d30;
$accentcolor1: #ffda1f;
$accentcolor2: #ffea80;
$buttoncolor: #ff7834;
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
