$primarycolor: #1c1c1c;
$secondarycolor: #3d3737;
$primarybg: #191b25;
$secondarybg: #cccccc;
$accentcolor: #5e36d7;
$accentcolor1: #d7365f;
$pagebg: #000000;
$pagebg1: #000936;
$overlay: transparent;
$xs: 0;
$sm: 568px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1920px;
