$primarycolor: #1d0e41;
$secondarycolor: #59575e;
$accentcolor: #634ac9;
$primarybg: hsl(230, 19%, 12%);
$secondarybg: #f1f3f8;
$menubg: hsl(230, 21%, 17%);
$footerbg: #121212;
$pagebg: #f3f3f3;
$xs: 0;
$sm: 568px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1920px;
