@use "./common/patterns";
@use "./common/variables" as *;

.container {
  background-color: #fcfcfc;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0;
  padding: 0 0 3rem 0;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin: 0 auto;
  position: relative;
  width: min(80%, 80rem);
}
.about_article {
  width: 100%;
}
.summary_text {
  font-size: 1.5rem;
  margin-block: 0 2rem;
  width: min(100%, 80rem);
  position: relative;
  padding: 1rem;
  i {
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
    font-weight: 900;
    color: $secondarycolor;
  }
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    border-radius: 10px;
    background-color: rgb(196, 196, 196);
  }
  &::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(196, 196, 196);
    bottom: 0;
  }

  &:nth-child(odd) {
    padding-inline-end: 2rem;
    &::before {
      right: 0;
      z-index: 1;
      translate: 3px 0;
    }
    &::after {
      right: 0;
      top: 0;
    }
  }
  &:nth-child(even) {
    padding-inline-start: 2rem;
    &::before {
      left: 0;
      z-index: 1;
      translate: -3px 0;
    }
    &::after {
      left: 0;
      top: 0;
    }
  }
}
.about_card {
  margin: 2rem 0 0;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 35rem;
  &:nth-child(even) {
    background-color: #f7f8f8;
    margin-right: auto;
  }
  &:nth-child(odd) {
    margin-left: auto;
  }
}

.about_subheader {
  text-transform: uppercase;
  font-weight: 800;
  margin: 2rem 0 1rem;
}
.title {
  font-size: 1.2rem;
}
.tenure {
  color: $secondarycolor;
}

.description {
  padding: 2rem 0;
  font-size: 1rem;
}
.desc_title {
  font-size: 1rem;
}

.responsibility {
  list-style-type: none;
  position: relative;
  padding: 0 0 0 1rem;
  &::before {
    content: "»";
    position: absolute;
    left: 0;
  }
}
