@import "variables";
@import "title";

.wrapper {
  background-color: #ffffff;
  background-size: cover;
  background-size: cover;
  background-position: right top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

.intro_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image_wrapper {
  width: 250px;
  height: 50%;
}
.image_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  width: 100%;
  background-color: $secondarybg;
}
.profile {
  width: 90%;
  filter: saturate(15%) hue-rotate(250deg) brightness(120%);
  position: relative;
  z-index: 1;
}
.text_wrapper {
  width: 80%;
  height: 100%;
  margin: 2rem auto;
}
.text_inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem 0;
  &:nth-child(odd) {
    margin: 0;
    width: 100%;
  }
  &:nth-child(even) {
    margin: 0;
    width: 100%;
  }
  &:last-child {
    border: none;
  }
}

.text_para {
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  z-index: 0;
  .text_span_marker {
    display: inline-block;
    content: "";
    position: absolute;
    background-color: $primarybg;
    width: 10px;
    height: 25px;
    left: -15px;
  }
}
.text_font_big {
  font-size: 2rem;
}
.text_font_medium {
  font-size: 1.5rem;
}
.text_font_small {
  font-size: 1.2rem;
}
.skill_list {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.skill_listitem {
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
  display: flex;
}
.skill_item_header {
  width: 50%;
  margin: 0 1rem 0 0;
}
.skill_item_separator {
  margin: 0 1rem 0 0;
}
.skill_item_text {
  width: 50%;
}

@media screen and (min-width: $md) {
  .text_wrapper {
    padding: 2rem 0 0 0;
  }
  .text_inner {
    &:nth-child(odd) {
      width: 65%;
      margin: 0 auto 0 10%;
    }
    &:nth-child(even) {
      width: 65%;
      margin: 0 10% 0 auto;
    }
  }
  .text_para {
    font-size: 1.2rem;
  }
  .intro_card {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .skill_list {
    width: 100%;
    margin: 0 auto;
  }
  .skill_listitem {
    font-size: 1.5rem;
    display: flex;
    margin: 0 0 1rem 0;
  }
  .skill_item_header {
    width: 50%;
    margin: 0 1rem 0 0;
  }
  .skill_item_text {
    width: 50%;
  }
}
@media screen and (min-width: $lg) {
  .image_wrapper {
    width: 250px;
    height: 100%;
    margin: 0;
  }
  .text_wrapper {
    width: 68%;
  }
  .text_inner {
    &:nth-child(odd) {
      margin: 0 auto 0 10%;
    }
    &:nth-child(even) {
      margin: 0 10% 0 auto;
    }
  }
  .text_para {
    font-size: 1.3rem;
  }
  .skill_listitem {
    font-size: 1.3rem;
  }
  .skill_item_header {
    width: 30%;
    margin: 0 1rem 0 0;
  }
  .skill_item_text {
    width: 70%;
  }
}
