@import "variables";

.wrapper {
  background-color: #fafbff;
  background-size: cover;
  background-size: cover;
  background-position: right top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 3rem 0;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  width: 80%;
}

.intro_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image_wrapper {
  width: 250px;
  height: 50%;
  border-radius: 5px;
  overflow: hidden;
}
.image_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  width: 100%;
  background-color: #e0e3f0;
}
.profile {
  width: 90%;
  filter: saturate(15%) hue-rotate(250deg) brightness(120%);
  position: relative;
  z-index: 1;
}
.text_wrapper {
  height: 100%;
  margin: 2rem auto;
}
.text_inner {
  position: relative;
  z-index: 1;
  padding: 1rem 0;
  &:nth-child(odd) {
    margin: 0;
    width: 100%;
  }
  &:nth-child(even) {
    margin: 0;
    width: 100%;
  }
  &:last-child {
    border: none;
  }
}
.skill_wrapper {
  background-color: #ecedf5;
  padding: 1rem;
  border-radius: 10px;
}
.subheader {
  border-bottom: 1px solid #cccedd;
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}
.skill {
  height: 20px;
  margin: 0 0 0.5rem 0;
  position: relative;
  display: flex;
  align-items: center;
}
.skill_name {
  display: inline-block;
  flex: 42%;
  font-size: 0.85rem;
  font-weight: 700;
}
.skill_bar__bg {
  width: 100%;
  height: 100%;
  background-color: #bec3d8;
  position: relative;
  display: inline-block;
  flex: 58%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.15), 0 0 3px rgb(0, 0, 0, 0.15);
}
.skill_bar__fg {
  position: absolute;
  //background-color: hsl(229, 19%, 49%);
  height: 100%;
  left: 0;
  top: 0;
}
.text_para {
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  z-index: 0;
  .text_span_marker {
    display: inline-block;
    content: "";
    position: absolute;
    background-color: $primarybg;
    width: 10px;
    height: 25px;
    left: -15px;
  }
}
.text_font_big {
  font-size: 2rem;
}
.text_font_medium {
  font-size: 1.5rem;
}
.text_font_small {
  font-size: 1.2rem;
}

@media screen and (min-width: $md) {
  .text_wrapper {
    padding: 2rem 0 0 0;
  }

  .skill_wrapper {
    padding: 2rem;
  }
  .skill_name {
    font-size: 1rem;
  }
  .text_para {
    font-size: 1.2rem;
  }
  .intro_card {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: $lg) {
  .image_wrapper {
    width: 250px;
    height: 100%;
    margin: 0;
  }
  .text_wrapper {
    width: 68%;
  }

  .text_para {
    font-size: 1.3rem;
  }
}
