.button {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 1rem;
  margin: 1rem 0 0 0;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(0 0 0 / 0.2);
  position: relative;
  z-index: 10;
  &:hover {
    background-image: linear-gradient(rgb(0 0 0 / 0.2), rgb(0 0 0 / 0.05));
    transition: background-image 0.3s ease-in;
  }
}
