@import "variables";

.wrapper {
  height: 200px;
  background-color: $footerbg;
  margin: 3rem 0;
  position: relative;
}
.inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 0 0.2rem 0;
}
.socialicons {
  margin: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  stroke: $litecolor;
  &:hover {
    stroke: $accentcolor;
  }
}
.copyright {
  color: $litecolor;
}
@media (min-width: $md) {
  .name {
    font-size: 2rem;
  }
  .socialicons {
    font-size: 2.2rem;
  }
  .copyright {
    font-size: 1.2rem;
  }
}
@media (min-width: $lg) {
  .name {
    font-size: 2.5rem;
  }
  .wrapper {
    margin: 0;
  }
  .copyright {
    font-size: 1.5rem;
  }
}
