@import "variables";

.brand {
  height: 10vh;
  position: fixed;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 1rem;
  z-index: 101;
  user-select: none;
}
.brand__wrap {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: $secondarycolor;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
}
.brand__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  background-color: $primarycolor;
  &:visited {
    color: #ffffff;
  }
  img {
    width: 100%;
    position: absolute;
    transform: translateY(-10px);
  }
}

.menuwrapper {
  position: fixed;
  height: 10vh;
  width: 100%;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 2;
}
.menuwrapper__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;
  position: relative;
  padding: 0 1rem 0 0;
}
.menuitem {
  text-transform: uppercase;
  color: $accentcolor2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition-property: font-size;
  transition-duration: 0.2s;
  &:hover {
    text-decoration: underline;
    color: #ffffff;
  }
}
@media screen and (min-width: $md) {
  .brand__wrap {
    width: 45px;
    height: 45px;
  }
  .brand__link {
    width: 45px;
    height: 45px;
  }
  .menuitem {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: $xl) {
  .brand__link {
    font-size: 2.5rem;
    img {
      transform: translateY(-13px);
    }
  }
  .menuwrapper {
    padding: 0;
  }
  .menuwrapper__inner {
    margin: 0;
    padding: 2rem;
  }
  .menuitem {
    margin: 0 0 0 2rem;
    font-size: 2rem;

    &:hover {
      color: $secondarycolor;
    }
  }
}
