@import "variables";

.menuwrapper {
  position: fixed;
  padding: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: 101;
  background-color: $primarybg;
  width: 100%;
  display: none;
}
.menuwrapper__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0.5rem;
}
.menuitem {
  color: #c6c9d5;
  position: relative;
  display: block;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.0075, 0.00082, 0.00098, 0.8);
  cursor: pointer;
  padding: 0.5rem 0;
  margin: 0 0.7rem;
  text-decoration: none;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background-color: $accentcolor;
    top: 0;
    left: 0;
    z-index: 1;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.0075, 0.00082, 0.00098, 0.8);
    transform-origin: top center;
  }
  &:hover {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.0075, 0.00082, 0.00098, 0.8);
    &::before {
      height: 6px;
    }
  }
  &:active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.0075, 0.00082, 0.00098, 0.8);
    &::before {
      height: 8px;
    }
  }
}

@media screen and (min-width: $md) {
  .menuitem {
    font-size: 1.3rem;
    margin: 0 1rem;
  }
}

@media screen and (min-width: $lg) {
  .menuwrapper {
    top: 0;
    bottom: auto;
    display: block;
  }
  .menuwrapper__inner {
    padding: 1rem;
    width: 85%;
  }
  .menuitem {
    font-size: 1.5rem;
  }
}
