@import 'variables';
@import 'brand';
@import 'social';

.wrapper{
  position: fixed;
  height: 8vh;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #fcfcfc;
}