@import 'variables';

.wrapper{
  height: 40vh;
  background-color:$primarybg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5rem 0 0 0;
}

.image_wrapper{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100%;
    border-radius: 50%;
  }
}
.contacts{
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 1rem 0;
  svg{
    margin: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
  }
}