@use "home/landing";
@use "home/intro";
@use "home/contact";
@use "home/summary";
@use "home/featured";

.home {
  background-color: #fcfcfc;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-top: 5rem;
}
