@use "landing";
@use "intro";
@use "contact";
@use "summary";
@use "featured";

.home {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
