@import "variables";
@import "social";
@import "overlay";

.wrapper {
  height: 100vh;
  background-color: $accentcolor1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $xxl;
  margin: 0 auto 0;
  position: relative;
  height: 80%;
}

.name {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.namewrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.nametext {
  font-size: 3rem;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  color: #e6deb6;
  padding: 0 0 0 3rem;
  text-transform: uppercase;
}
.value {
  height: auto;
  width: 100%;
  padding: 0 3rem;
}
.value_para {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #d8d0a9;
}
@media screen and (min-width: $md) {
  .nametext {
    font-size: 7rem;
  }
  .value_para {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: $xl) {
  .wrapper {
    padding: 0 3rem;
  }
  .inner {
    height: 60vh;
    margin: 0 auto;
  }
  .namewrapper {
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      height: 100%;
      width: 15px;
      background-color: $accentcolor1;
      padding: 0 0 2rem 0;
    }
  }
  .nametext {
    font-size: 7rem;
    padding: 0 0 0 5rem;
  }
  .value {
    padding: 0 5rem;
  }
  .value_para {
    font-size: 2rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    width: 70%;
  }
}
@media screen and (min-width: $xxxl) {
  .nametext {
    font-size: 8rem;
  }
}
