@import "variables";
@import "social";

.wrapper {
  height: 100vh;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0;
  position: relative;
  height: 100%;
  max-width: 1200px;
}
.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e6e6e6;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
}
.profile_pic {
  width: 90%;
  height: auto;
  display: inline-block;
  position: absolute;
  bottom: 0;
}
.name {
  margin: 0 auto;
  display: flex;
  place-items: center;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 5px;
  overflow: hidden;
  width: 80%;
  height: 70%;
  //box-shadow: 0 0 1px rgb(157, 157, 157), 0 0 2px rgb(189, 189, 189),
  //0 0 2px rgb(208, 208, 208);
}
.name_left {
  width: 100%;
}
.name_text {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  color: #322e2e;
  text-transform: uppercase;
  margin: 0 auto;
}
.profile_text {
  font-size: 2.2rem;
}
.name_divider {
  height: 1px;
  margin: 1rem 0;
  background-color: #7328ff;
}
.value {
  height: auto;
  width: 100%;
}
.value_para {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #413d3d;
}
.name_right {
  width: 100%;
  position: relative;
}

@media screen and (min-width: $md) {
  .name_text {
    font-size: 1.5rem;
  }
  .profile {
    width: 120px;
    height: 120px;
  }
  .profile_text {
    font-size: 4rem;
  }
  .value_para {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: $lg) {
  .inner {
    margin: 0 auto;
  }
  .name_left {
    flex-direction: row;
  }
  .name_text {
    font-size: 1.4rem;
  }
  .profile {
    width: 150px;
    height: 150px;
  }
  .profile_text {
    font-size: 4rem;
  }
  .value {
    width: 100%;
    margin: 0;
  }
  .value_para {
    font-size: 2rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
  }
}
