@import 'variables';
.menuwrapper{
    position: fixed;
    width: 100%;
    height: 7vh;
    bottom: 0;
    margin: 0 auto 1rem;
}
.menuwrapper__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}
.left{
    margin-right: auto;
    text-transform: uppercase;
    color: $primarycolor;
    position: relative;
}
.right{
    margin-left: auto;
    text-transform: uppercase;
    position: relative;
    color: $primarycolor;
}
