@import "variables";
@import "social";

.wrapper {
  position: relative;
  z-index: 99;
  height: 150px;
  background-color: #fafbff;
}
.image_inner {
  position: absolute;
  width: 280px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e0e3f0;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.profile {
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  filter: saturate(15%) hue-rotate(250deg) brightness(120%);
}
