@use "./common/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f8;
  padding: 3rem 0;
  margin: 5rem 0 0;
}
.inner {
  display: flex;
  flex-flow: column;
  width: min(80%, 80rem);
  padding: 2rem 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 4rem 0;
}
.card {
  width: min(100%, 23rem);
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 0;
}
.header {
  width: 80%;
  color: $primarycolor;
  margin: 0 auto;
}

.details {
  width: 80%;
  align-items: flex-start;
  flex: 2;
}
.description {
  padding: 0.5rem 0;
}
.button_wrapper {
  display: flex;
  gap: 5px;
  margin: 0;
  width: 80%;
}
.link {
  flex: 1 1 auto;
  font-size: 1.3rem;
  position: relative;
  a {
    text-decoration: none;
  }
  &:hover {
    a {
      text-decoration: underline;
    }
  }
}
.source,
.live {
  font-size: 0.95rem;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f8f8f8;
  &:hover {
    background-color: #cbcbcb;
    transition: background-color 0.5s ease-in-out;
  }
  &:visited {
    color: #f8f8f8;
  }
}
.source {
  background-color: #2f2d37;
}
.live {
  background-color: #8edd9e;
}

.footer {
  width: 100%;
  height: 30%;
  margin: 1rem 0 0;
  padding: 0 1.5rem;
}
.project_skills {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}
.skills {
  margin: 0 0.5rem 0.5rem 0;
  font-size: 0.8rem;
  list-style-type: none;
}
@media screen and (min-width: $md) {
  .card_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card_wrapper {
    margin: 0 1rem 1rem 0;
    width: 260px;
  }
}
