@import "variables";
@import "title";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $footerbg;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.inner {
  display: flex;
  flex-flow: column;
  width: 80%;
  max-width: 1200px;
  padding: 2rem 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.card_container {
  display: flex;
  flex-direction: column;
}
.card_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  //border: 1px solid $secondarycolor;
  background-color: #383c4d;
  color: $secondarycolor;
  border-radius: 5px;
  margin: 0 0 1rem 0;
  box-shadow: 0 0 5px #2f3241, 0 0 5px #343747, 0 0 5px #2f3241;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #505468;
  margin: 0 0 1rem 0;
}
.title {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0.5rem auto;
}
.details {
  width: 100%;
  height: 60%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.description {
  padding: 0 1rem;
}
.button_wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  margin: 0 0 1rem 0;
  width: 100%;
}
.link {
  display: inline-block;
  margin: 0 0 0 0.5rem;
  &:hover {
    svg {
      stroke: $litecolor;
    }
  }
}
.footer {
  width: 100%;
  height: 30%;
}
.project_skills {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1rem;
  margin: 0 0 1rem 0;
  width: 95%;
}
.skills {
  margin: 0 0.5rem 0.5rem 0;
  border-bottom: 1px solid;
  font-size: 0.8rem;
}
@media screen and (min-width: $md) {
  .card_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card_wrapper {
    margin: 0 1rem 1rem 0;
    width: 300px;
    height: 200px;
  }
}
