@import "variables";
.text_wrapper {
  width: 100%;
  position: relative;
  background-color: inherit;
}
.text {
  margin: 2rem auto;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  font-size: 2rem;
  z-index: 2;
  border-bottom: 1px solid #202330;
  @media screen and (min-width: $lg) {
    margin: 3rem 0;
    font-size: 3rem;
  }
}
.separator {
  max-width: 100%;
  flex-grow: 1;
  border-bottom: 1px solid;
  margin: 2rem auto 2rem 0;
  @media screen and (min-width: $lg) {
    height: 55px;
  }
}
