@import 'variables';
.wrapper{
  margin: 3rem 0 0 0;
  height: 10vh;
  width: 100%;
}

.inner{
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden; 
}

.text{
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 0 4rem;
}