@import "variables";

.wrapper {
  background-color: $secondarybg;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 0 3rem 0;
  overflow: hidden;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}
.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.card_wrapper {
  overflow: hidden;
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.05), -1px -1px 2px rgba(0,0,0,0.05);
}
.card_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(#f1f3f8, #e7e9ef);
  transition: transform 0.3s ease-in;
  border-radius: 5px;
}
.header {
  border-bottom: 1px solid #eaebef;
}
.body {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0;
}
.card_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  img {
    position: relative;
    transition: all 0.3s ease-out;
  }
}
.project_desc {
  margin: 1.5rem 0;
  color: $primarycolor;
}
.project_button__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.site_link {
  font-size: 1rem;
  transition: all 0.5s ease-in;
  flex: 1 1 auto;
  text-transform: capitalize;
  color: $primarycolor;
  a{
    text: {
      decoration: none;
    }
  }
  &:hover {
    text-decoration: underline;
  }
}
.source_link {
  text-decoration: none;
  background-color: #dddee3;
  display: block;
  height: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  &:hover {
    background-color: #cbcbcb;
    transition: background-color 0.5s ease-in-out;
  }
}

.project_skills {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}
.project_desc__text {
  font-size: 1rem;
}
.project_skill__text {
  font-size: 0.9rem;
  margin: 0 0.5rem 0.5rem 0;
  border-bottom: 1px solid;
  color: $primarycolor;
}
@media screen and (min-width: $md) {
  .inner {
    width: 85%;
  }
  .card_container {
    flex-flow: row wrap;
  }
  .card_wrapper {
    margin: 0 1rem 1rem 0;
    width: 260px;

  }
  .project_button__wrapper {
    height: 10%;
  }

}

@media screen and (min-width: $lg) {
  .wrapper {
    height: auto;
  }

  .card_inner {
    display: flex;
    align-items: center;
  }

  .card_image {
    align-items: center;
  }
}
