@import "variables";
@import "title";

.wrapper {
  background-color: #2845bc;
  background-color: #191b25;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 0 5rem 0;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 80%;
    background-color: #ffffff10;
    left: 0;
    top: 0;
    z-index: 0;
    transform: rotateZ(15deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 80%;
    background-color: #ffffff10;
    left: 20%;
    top: 0;
    z-index: 0;
    transform: rotateZ(35deg);
  }
}
.section_separator {
  display: flex;
  svg {
    display: inline-block;
  }
}
.exp_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}
.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.card_wrapper {
  overflow: hidden;
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
  &:hover {
    transform: translateY(-5px);
  }
}
.card_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  padding: 1rem 0;
  transition: transform 0.3s ease-in;
  border-radius: 3px;
}
.card_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem 0;
  height: 100%;
  img {
    position: relative;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

.project_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_desc {
  position: relative;
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.98);
  left: 0;
}

.project_title {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 0 auto;
}
.project_desc_row_one {
  background-color: #fafafa;
  padding: 1rem;
  margin: 0;
}
.project_desc_row_two {
  background-color: #ffffff;
  padding: 1rem;
  margin: 0;
}
.project_subtitle {
  margin: 0 0 0.5rem 0;
}
.project_desc_text {
  font-size: 1rem;
}

@media screen and (min-width: $md) {
  .card_container {
    flex-flow: row wrap;
  }
  .card_wrapper {
    margin: 0 1rem 1rem 0;
    width: 300px;
    height: 450px;
  }
}

@media screen and (min-width: $lg) {
  .wrapper {
    height: auto;
  }

  .card_inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_image {
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .project_desc {
    width: 80%;
  }
}
