@import "variables";
@import "overlay";
.wrapper {
  background-color: $primarybg;
  display: flex;
  position: relative;
}

.exp_inner {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: $xxl;
  margin: 15vh auto 0;
}

.card_wrapper {
  overflow: hidden;
  flex: none;
  padding: 2rem 0;
  height: auto;
  &:last-child {
    margin: 0 0 3rem 0;
  }
}

.card_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card_image {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  border-radius: 3px 3px 0 0;
  img {
    max-width: 100%;
    box-shadow: 0 0 10px rgb(182, 182, 182);
    border-radius: 3px 3px 0 0;
  }
}

.desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  transform: translateY(0%);
  transition: all 0.5s cubic-bezier(1, 0.82, 0.165, 1);
}
.desc_text {
  margin: 0 0 2rem 0;
  font-size: 0.95rem;
}

.cardtech {
  display: flex;
  flex-flow: row wrap;
  flex: 0;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem;
  margin: 0 auto 1rem;
}
.cardtechitem {
  list-style-type: none;
  padding: 0.2rem;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px #eee;
  user-select: none;
  font-size: 0.8rem;
  color: $buttoncolor;
}

.viewbutton {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: color 0.5s;
  box-shadow: 1px 1px 2px rgb(201, 201, 201), -1px -1px 2px rgb(201, 201, 201);
  &:hover {
    background-color: $accentcolor;
    color: $primarycolor;
    .view_text {
      color: #ffffff;
    }
  }
}
.view_dark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $secondarycolor1;
}
.view_lite {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $secondarycolor;
  width: 0;
  transition: width 0.3s cubic-bezier(0.95, 0.885, 0.00032, 0.002);
}
.view_lite_fill {
  width: 100%;
}
.view_text {
  color: #ffffff;
  z-index: 2;
  transition: color 0.5s;
}
@media screen and (min-width: $md) {
  .desc {
    padding: 0;
  }
  .desc_text {
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: $xl) {
  .wrapper {
    background-color: $accentcolor1;
  }
  .exp_inner {
    background-color: #ffffff;
  }
  .card_inner {
    flex-direction: row;
    height: 100%;
  }
  .card_wrapper {
    height: 400px;
    &:last-child {
      margin: 0 0 3rem 0;
    }
  }
  .card_image {
    width: 40vw;
    max-width: 500px;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
    border-radius: 3px;
    img {
      max-width: 40vw;
      max-height: 240px;
    }
  }
  .desc {
    width: 70%;
    height: 100%;
    padding: 3rem 2rem;
    margin: 0 auto;
  }
  .desc_text {
    font-size: 1.5rem;
    margin: 0 auto 1rem;
  }
  .cardtech {
    padding: 0.5rem 0;
  }
  .worksite {
    text-transform: uppercase;
    width: 100px;
    padding: 0.3rem;
    margin: 0 auto;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
  .viewbutton {
    width: 130px;
    height: 35px;
  }
}
